{% extends 'comun/crear.html' %}
{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block id %} id=userForm{% endblock %}

{% block formulario %}
    {% csrf_token %}
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="">{{ form.first_name.label }}</label>
                {{ form.first_name }}
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="">Apellido</label>
                {{ form.last_name }}
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="">Usuario</label>
                {{ form.username }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="">Contraseña</label>
                {{ form.password }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="">Email</label>
                {{ form.email }}
            </div>
        </div>
        <div class="col-6">
             <div class="form-group">
                <label class="">Roles</label>
                {{ form.groups }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <br>
                <label class="">Imagen</label>
                {{ form.image }}
            </div>
        </div>
    </div>
{% endblock %}

{% block form_buttons %}
    <div class="botones">
        <button type="submit" class="boton-salvar btn1">
            <i class="fas fa-save"></i> Salvar
        </button>

        <a type="button" href="{% url 'usuario:listarUsuario' %}" class=" cancelar boton-cancelar btn2">
            <i class="fas fa-arrow-circle-left"></i> Cancelar
        </a>
    </div>

{% endblock %}

{% block extra_js %}
    {{ block.super }}
        {% if form.errors %}
            <script type="text/javascript">
                toastr.error('{{ form.username.errors }}', 'Error', {
                    progressBar: true,
                    closeButton: true,
                    "timeOut": "3000",
                })
            </script>
    {% endif %}
{% endblock %}