{% extends 'comun/crear.html' %}
{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block id %} id=clasificadorIndForm{% endblock %}
{% block formulario %}
    <div class="row">
        <div class="col-6">
            <div class="form-group ">
                <label>{{ form.seccion_id.label }}</label>
                {{ form.seccion_id }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>{{ form.nombre.label }}</label>
                {{ form.nombre }}
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            {{ form.activo }}
            <label for="clasificadorIndActiva" class="custom-control-label">{{ form.activo.label }}</label>
        </div>
    </div>
{% endblock %}

{% block form_buttons %}
    <div class="botones">
    <button type="submit" class="boton-salvar btn1">
        <i class="fas fa-save"></i> Salvar
    </button>

    <a type="button" href="{% url 'indicador:istarClasificador' %}" class="cancelar boton-cancelar btn2">
        <i class="fas fa-arrow-circle-left"></i> Cancelar
    </a>
    </div>

{% endblock %}