{% extends 'comun/crear.html' %}
{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block id %} id=indicadoresForm{% endblock %}

{% block formulario %}
<div class="form-group ">
        <label>{{ form.nombre.label }}</label>
        {{ form.nombre }}
    </div>

    <div class="form-group">
          <label>{{ form.clasificadorIndicadores_id.label }}</label>
        {{ form.clasificadorIndicadores_id }}
    </div>
    <div class="form-group">
         <label>{{ form.respuestas_id.label }}</label>
        {{ form.respuestas_id }}
    </div>
    <div class="form-group">
         <label>{{ form.cod_indicador.label }}</label>
        {{ form.cod_indicador }}
    </div>
    <div class="form-group">
        <label>Fecha de creacion</label>
        <div class="input-group ">
            <input type="text" readonly
                   class="form-control  datetimepicker-input date" id="date3"
                   placeholder="Seleccione una fecha" name="fechaCreacion" style="width: 100%" data-type="5"
                   data-component="date" data-target="#date3"
                   data-toggle="datetimepicker">
            <div class="input-group-append">
                <div class="input-group-text"><i
                        class="fa fa-calendar-alt"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
         <div class="custom-control custom-checkbox">
            {{ form.activo }}
            <label for="indicadorActiva" class="custom-control-label">{{ form.activo.label }}</label>
        </div>
    </div>

{% endblock %}


{% block form_buttons %}
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Salvar
    </button>

    <a type="button" href="{% url 'indicador:listarIndicador' %}" class="btn btn-danger">
        <i class="fas fa-arrow-circle-left"></i> Cancelar
    </a>
{% endblock %}