{% extends 'comun/listar.html' %}
{% load static %}\
{% load filters %}

{% block titulo %}
    {{ titulo }}
 {% endblock %}
{% block idTable %}id="reporteDeficiencias" {% endblock %}
{% block columns %}
    <tr>
        <th scope="col">Deficiencias</th>
        <th scope="col">Centro Informante</th>
        <th scope="col">Cantidad de deficiencias</th>
        <th scope="col">Por ciento que representa (%)</th>

    </tr>
{% endblock %}

{% block rows %}
    <tr>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
    </tr>
{% endblock %}

{% block button %}

{% endblock %}