{% extends 'comun/listar.html' %}
{% load static %}\
{% load filters %}

{% block titulo %}
    {{ titulo }}
 {% endblock %}
{% block idTable %}id="reporteDisciplinaInfoCentroControlados" {% endblock %}
{% block columns %}
    <tr>
        <th scope="col">Centro Informante</th>
        <th scope="col">Formularios a captar segun el convenio informativo</th>
        <th scope="col">Formularios captados fuera de fecha</th>
        <th scope="col">Formularios no captados</th>

    </tr>
{% endblock %}

{% block rows %}
    <tr>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
    </tr>
{% endblock %}

{% block button %}

{% endblock %}