{% extends 'comun/listar.html' %}
{% load static %}\
{% load filters %}

{% block titulo %}
    {{ titulo }}
 {% endblock %}
{% block idTable %}id="reporteDisciplinaInfo" {% endblock %}
{% block columns %}
    <tr>
        <th >Total de modelos a reportar</th>
        <th >Reportados fuera de fecha</th>
        <th >Reportados en fecha</th>
        <th >No reportados</th>
    </tr>
{% endblock %}

{% block rows %}
    <tr>
        <td class="text-center"><span class="badge badge-primary">{{ request.user|procedimientoDiscplinaInfo:1 }}</span></td>
        <td class="text-center"><span class="badge badge-primary">{{ request.user|procedimientoDiscplinaInfo:2 }}</span></td>
        <td class="text-center"><span class="badge badge-primary">{{ request.user|procedimientoDiscplinaInfo:3 }}</span></td>
        <td class="text-center"><span class="badge badge-primary">{{ request.user|procedimientoDiscplinaInfo:4 }}</span></td>

    </tr>
{% endblock %}

{% block button %}

{% endblock %}