{% extends 'comun/listar.html' %}
{% load static %}\
{% load filters %}

{% block titulo %}
    {{ titulo }}
 {% endblock %}
{% block idTable %}id="reporteDomicilioSocial" {% endblock %}
{% block columns %}
    <tr>
        <th >Codigo de Centro Informante</th>
        <th >Centro Informante</th>

    </tr>
{% endblock %}

{% block rows %}
    {% for i in cuestionarios %}
         {% if i|domicilioIncorrecto == "No" %}
            <tr>
                <td ><span class="badge badge-primary">{{ i.entidad_codigo.codigo_CI }}</span></td>
                <td>{{  i.entidad_codigo.nombre_CI }}</td>
            </tr>
        {% endif %}
        {% endfor %}
{% endblock %}

{% block button %}

{% endblock %}