{% extends 'comun/listar.html' %}
{% load static %}\
{% load filters %}

{% block titulo %}
    {{ titulo }}
 {% endblock %}
{% block idTable %}id="reporteErrores" {% endblock %}
{% block columns %}
    <tr>
        <th >Codigo de Centro Informante</th>
        <th >Centro Informante</th>
        <th >Cantidad de Señalamientos</th>

    </tr>
{% endblock %}

{% block rows %}
    <tr>
        <td class="text-center text-uppercase text-bold ">Total</td>
        <td></td>
        <td class="text-center"><span
                class="badge badge-primary">{{ request.user|totalsenalamientos }}</span></td>
    </tr>
        {% for i in cuestionarios %}
            <tr>
                <td class="text-center"><span class="badge badge-primary">{{ i.entidad_codigo.codigo_CI }}</span></td>
                <td>{{ i.entidad_codigo.nombre_CI }}</td>
                <td class="text-center"><span class="badge badge-primary">{{ i|senalamientos }}</span></td>
            </tr>
        {% endfor %}
{% endblock %}

{% block button %}

{% endblock %}