{% extends 'comun/listar.html' %}
{% load static %}\
{% load filters %}

{% block titulo %}
    {{ titulo }}
 {% endblock %}
{% block columns %}
<tr>
        <th >Guia</th>
        <th >Centro Informante</th>

    </tr>
{% endblock %}

{% block rows %}
 {% for i in universo %}
            <tr>
                <td>{{ i.guia.nombre }}</td>
                <td><span class="badge bg-gradient-navy">{{ i.entidad_codigo }}</span></td>

            </tr>
        {% endfor %}
{% endblock %}

{% block button %}

{% endblock %}