{% extends 'comun/home.html' %}


{% block content %}
    <form method="post" {% block id %}{% endblock %} enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-archive"></i>
                    {% block title %}{% endblock %}
                </h3>
            </div>
            <div class="card-body">
                {% block formulario %}
                {% endblock %}
            </div>
                <div class="card-footer">
                    {% block form_buttons %}
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Salvar
                        </button>

                        <a type="button" href="#" class="btn btn-danger">
                            <i class="fas fa-arrow-circle-left"></i> Cancelar
                        </a>
                    {% endblock %}
                </div>
        </div>
    </form>
{% endblock %}


