{% extends 'comun/listar.html' %}
{% load static %}

{% block titulo %}
     {{ titulo }}
 {% endblock %}

{% block columns %}
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Grupo preguntas</th>
        <th scope="col">Seccion</th>
        <th scope="col">Guia</th>
        <th scope="col">Cod.Pregunta</th>
        <th scope="col">es_Activo</th>
        <th scope="col">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for indicador in indicadores %}
        <tr>
            <td>{{ indicador.nombre }}</td>
            <td><span class="badge bg-gradient-navy">{{ indicador.clasificadorIndicadores_id.nombre }}</span></td>
            <td><span class="badge bg-gradient-navy">{{ indicador.clasificadorIndicadores_id.seccion_id.nombre }}</span></td>
            <td><span class="badge bg-gradient-navy">{{ indicador.clasificadorIndicadores_id.seccion_id.guia_id.nombre }}</span></td>
        {% if indicador.cod_indicador == None %}
            <td><a href="#" type="button" ><i class="fa fa-times-circle" style="color: red"></i></a></td>
        {% else %}
             <td><span class="badge bg-gradient-navy">{{ indicador.cod_indicador }}</span></td>
        {% endif %}

             {% if indicador.activo == True %}
            <td><a href="#"  type="button" ><i class="fa fa-check-circle" style="color: #01ff70"></i></a></td>
                {% else %}
             <td><a href="#" type="button" title="{{ indicador.activo }}"><i class="fa fa-times-circle" style="color: red"></i></a></td>
            {% endif %}
            <td>
                   <a class="miTippy" href="{% url 'indicador:updateIndicador' indicador.pk %}" type="button" title="Modificar"><i class="fa fa-edit"></i></a>
                 <a class="miTippy" href="#id{{ indicador.id }}" data-toggle="modal" type="button"  title="Eliminar"><i
                        class="fa fa-trash"></i></a>

                {#Modal#}
                <div id="id{{ indicador.id }}" class="modal fade" data-model-name="modal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel2"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">
                                    <i class="fa fa-trash"></i>
                                    Eliminar Pregunta
                                </h4>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro que desea eliminar la pregunta {{ indicador.nombre }} ?
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-default btn-sm"
                                   data-dismiss="modal">Cancelar</a>
                                <a class="btn btn-primary btn-sm"
                                   href="{% url 'indicador:eliminarIndicador' indicador.id %}">
                                    Si, eliminar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block button %}
    <div class="row">
    <div class="col-sm-2">
         <a href="{% url 'indicador:crearIndicador' %}" type="button" class="btn btn-block bg-gradient-primary">
        <i class="fa fa-plus-circle"></i> Nueva pregunta</a>
    </div>
    </div>
{% endblock %}