{% extends 'comun/listar.html' %}
{% load static %}

{% block titulo %}
     {{ titulo }}
 {% endblock %}

{% block columns %}
     <tr>
         <th scope="col">Guia</th>
        <th scope="col">Centro Informante</th>
        <th scope="col">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}
     {% for uni in universo %}
        <tr>
            <td>{{ uni.guia.nombre }}</td>
            <td><span class="badge bg-gradient-navy">{{ uni.entidad_codigo.nombre_CI }}</span></td>
            <td>
                <a class="miTippy" href="{% url 'guia:modificarUniverso' uni.pk %}" type="button" title="Modificar"><i class="fa fa-edit"></i></a>
                <a class="miTippy" href="#id{{ uni.id }}" data-toggle="modal" type="button" title="Eliminar"><i class="fa fa-trash"></i></a>

                {#Modal#}
                <div id="id{{ uni.id }}" class="modal fade" data-model-name="modal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel2"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">
                                    <i class="fa fa-trash"></i>
                                    Eliminar entidad del universo
                                </h4>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro que desea eliminar la entidad {{ uni.entidad_codigo.nombre_CI }} del universo ?
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-default btn-sm"
                                   data-dismiss="modal">Cancelar</a>
                                <a class="btn btn-primary btn-sm"
                                   href="{% url 'guia:eliminarUniverso' uni.id %}">
                                    Si, eliminar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block button %}
    <div class="row">
    <div class="col-sm-2">
        <a href="{% url 'guia:crearUniverso' %}" type="button" class="btn btn-block bg-gradient-primary"><i class="fa fa-plus-circle"></i> Agregar al universo</a>
    </div>
    </div>
{% endblock %}
