{% extends 'comun/listar.html' %}
{% load static %}
{% load filters %}

{% block titulo %}
    {{ titulo }}
{% endblock %}

{% block idTable %}
    id="entidadTable"
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">Cod.CI</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cod.Prov</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cod.Mun</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cod.NAE</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cod.OSDE</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cod.Org</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block button %}
    <div class="botones">
        <a href="{% url 'entidad:crearEntidad' %}" type="button" class="cancelar boton-listar btn3">
            <i class="fa fa-plus-circle"></i> Nueva entidad</a>
        <div class="btn-group">
            <button class="boton-salvar btn1 dropdown-toggle dropdown-icon" data-toggle="dropdown">
                <i class="fa fa-cogs"></i> Acciones
            </button>
            <div class="dropdown-menu" role="menu">
                <div class="container">
                    <a class="dropdown-item" id="universo" href="#"><i class="fa fa-business-time"
                                                                       style="color: #0086ca">
                    </i> Establecer universo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="eliminarCIselected" href="#"><i class="fa fa-trash"
                                                                                 style="color: #0086ca">
                    </i> Eliminar seleccion</a>
                    <a class="dropdown-item" href="#importaciones" data-toggle="modal" type="button"
                       href="#importaciones"><i class="fa fa-file-upload" style="color: #0086ca">
                    </i> Importar </a>
                </div>
            </div>
        </div>

        {#Modal#}
        <div id="importaciones" class="modal fade" data-model-name="modal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            <i class="fa fa-file-upload"></i>
                            Documentos a importar
                        </h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="card card-outline card-primary collapsed-card">
                                <div class="card-header">
                                    <h3 class="card-title">DPA</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-plus" style="margin-top: 10px"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    <form method="post" name="formImportarDPA" enctype="multipart/form-data">
                                        <input type="hidden" name="action" value="importar">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" name="datosDPA" accept=".xls,.xlsx">
                                                </div>
                                                <div class="input-group-append">
                                                    <button type="submit" class="input-group-text boton-salvar btn1 "
                                                            style="border-radius: 5px" id="datosDPA" disabled><i class="fa fa-upload ">
                                                        Cargar</i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card bg-gradient-warning">
                                        <div class="card-header">
                                            <h3 class="card-title"><i class="fas fa-exclamation-triangle "></i> ADVERTENCIA</h3>
                                        </div>
                                        <div class="card-body">
                                            Asegurese de que el documento a importar cumpla con la siguiente estructura y que el valor
                                            del id debe ser el mismo que el del codigo.</br>
                                            <strong>Estructura: </strong> id codigo descripcion
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-outline card-primary collapsed-card">
                                <div class="card-header">
                                    <h3 class="card-title">OSDE</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-plus" style="margin-top: 10px"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    <form method="post" name="formImportarOsde" enctype="multipart/form-data">
                                        <input type="hidden" name="action" value="importar">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" name="datosOSDE" accept=".xls,.xlsx">
                                                </div>
                                                <div class="input-group-append">
                                                    <button type="submit" class="input-group-text boton-salvar btn1 "
                                                            style="border-radius: 5px" id="datosOSDE" disabled><i class="fa fa-upload ">
                                                        Cargar</i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card bg-gradient-warning">
                                        <div class="card-header">
                                            <h3 class="card-title"><i class="fas fa-exclamation-triangle "></i> ADVERTENCIA</h3>
                                        </div>
                                        <div class="card-body">
                                            Asegurese de que el documento a importar cumpla con la siguiente estructura y que el valor
                                            del id debe ser el mismo que el del codigo.</br>
                                            <strong>Estructura: </strong> id codigo descripcion
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-outline card-primary collapsed-card">
                                <div class="card-header">
                                    <h3 class="card-title">NAE</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-plus" style="margin-top: 10px"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    <form method="post" name="formImportarNAE" enctype="multipart/form-data">
                                        <input type="hidden" name="action" value="importar">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" name="datosNAE" accept=".xls,.xlsx">
                                                </div>
                                                <div class="input-group-append">
                                                    <button type="submit" class="input-group-text boton-salvar btn1 "
                                                            style="border-radius: 5px" id="datosNAE" disabled><i class="fa fa-upload ">
                                                        Cargar</i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card bg-gradient-warning">
                                        <div class="card-header">
                                            <h3 class="card-title"><i class="fas fa-exclamation-triangle "></i> ADVERTENCIA</h3>
                                        </div>
                                        <div class="card-body">
                                            Asegurese de que el documento a importar cumpla con la siguiente estructura y que el valor
                                            del id debe ser el mismo que el del codigo.</br>
                                            <strong>Estructura: </strong> id codigo descripcion
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-outline card-primary collapsed-card">
                                <div class="card-header">
                                    <h3 class="card-title">ORGANISMO</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-plus" style="margin-top: 10px"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    <form method="post" name="formImportarOrganismo" enctype="multipart/form-data">
                                        <input type="hidden" name="action" value="importar">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" name="datosOrganismo" accept=".xls,.xlsx">
                                                </div>
                                                <div class="input-group-append">
                                                    <button type="submit" class="input-group-text boton-salvar btn1 "
                                                            style="border-radius: 5px" id="datosOrganismo" disabled><i class="fa fa-upload ">
                                                        Cargar</i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card bg-gradient-warning">
                                        <div class="card-header">
                                            <h3 class="card-title"><i class="fas fa-exclamation-triangle "></i> ADVERTENCIA</h3>
                                        </div>
                                        <div class="card-body">
                                            Asegurese de que el documento a importar cumpla con la siguiente estructura y que el valor
                                            del id debe ser el mismo que el del codigo.</br>
                                            <strong>Estructura: </strong> id codigo descripcion
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-outline card-primary collapsed-card">
                                <div class="card-header">
                                    <h3 class="card-title">CENTROS INFORMANTES</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                class="fas fa-plus" style="margin-top: 10px"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;">
                                    <form method="post" name="formImportarCI" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" name="datosCI" accept=".xls,.xlsx">
                                                </div>
                                                <div class="input-group-append">
                                                    <button type="submit" class="input-group-text boton-salvar btn1 "
                                                            style="border-radius: 5px" id="datosCI" disabled><i class="fa fa-upload ">
                                                        Cargar</i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card bg-gradient-warning">
                                        <div class="card-header">
                                            <h3 class="card-title"><i class="fas fa-exclamation-triangle "></i> ADVERTENCIA</h3>
                                        </div>
                                        <div class="card-body">
                                            Asegurese de que el documento a importar cumpla con la siguiente estructura.</br>
                                            <strong>Estructura: </strong> id codigo_CI nombre_CI codigo_OTE codigo_OME codigo_NAE
                                            codigo_ORGANISMO codigo_OSDE
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}