{% extends 'comun/listar.html' %}
{% load static %}

 {% block titulo %}
     {{ titulo }}
 {% endblock %}

{% block idTable %}
id="entidadTable"
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">Cod.CI</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cod.Prov</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cod.Mun</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cod.NAE</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cod.OSDE</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cod.Org</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block button %}
    <div class="botones">
      <a href="{% url 'entidad:crearEntidad' %}" type="button" class="cancelar boton-listar btn3">
        <i class="fa fa-plus-circle"></i> Nueva entidad</a>
         <button  id="universo" class="boton-salvar btn1">
        <i class="fa fa-business-time"></i> Establecer universo</button>
    </div>
{% endblock %}