{% extends 'comun/crear.html' %}
{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block id %} id=codigoForm{% endblock %}

{% block formulario %}
  <div class="form-group ">
        <label>{{ form.codigo.label }}</label>
        {{ form.codigo }}
    </div>

    <div class="form-group">
         <label>{{ form.descripcion.label }}</label>
        {{ form.descripcion }}
    </div>
    <div class="form-group">
           <div class="custom-control custom-checkbox">
            {{ form.activo }}
            <label for="codigoActiva" class="custom-control-label">{{ form.activo.label }}</label>
        </div>
    </div>

{% endblock %}

{% block form_buttons %}
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Salvar
    </button>

    <a type="button" href="{% url 'seccion:listarCodigo' %}" class="btn btn-danger">
        <i class="fas fa-arrow-circle-left"></i> Cancelar
    </a>
{% endblock %}