{% extends 'comun/crear.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block id %} id=editInstanciaForm{% endblock %}

{% block formulario %}
    <input type="hidden" name="action" value="modificarInstancia">
    <input type="hidden" name="idInstancia" value="{{ idInstancia }}">
    <div class="form-group " hidden>
        <label>Seccion</label>
        {{ form.seccion_id }}
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>{{ form.modelo_1.label }}</label>
                {{ form.modelo_1 }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group ">
                <label>{{ form.registro_1.label }}</label>
                {{ form.registro_1 }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>{{ form.modelo_2.label }}</label>
                {{ form.modelo_2 }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group ">
                <label>{{ form.registro_2.label }}</label>
                {{ form.registro_2 }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>{{ form.modelo_3.label }}</label>
                {{ form.modelo_3 }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group ">
                <label>{{ form.registro_3.label }}</label>
                {{ form.registro_3 }}
            </div>
        </div>

    </div>

{% endblock %}

{% block form_buttons %}
    <div class="botones">
        <button type="submit" class="boton-salvar btn1">
            <i class="fas fa-save"></i> Salvar
        </button>

        <a type="button" href="{% url 'guia:guiaCaptada' %}" class="cancelar boton-cancelar btn2">
            <i class="fas fa-arrow-circle-left"></i> Atras
        </a>
    </div>

{% endblock %}