{% extends 'comun/crear.html' %}
{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block id %} id=periodoForm{% endblock %}
{% block formulario %}
    <div class="row">
        <div class="col-12">
            <div class="form-group ">
                <label>{{ form.tipo.label }}</label>
                {{ form.tipo }}
            </div>
        </div>
        <div class="col-4">
            <div class="form-group ">
                <label>{{ form.mes_1.label }}</label>
                {{ form.mes_1 }}
            </div>
        </div>
        <div class="col-4">
            <div class="form-group ">
                <label>{{ form.mes_2.label }}</label>
                {{ form.mes_2 }}
            </div>
        </div>
        <div class="col-4">
            <div class="form-group ">
                <label>{{ form.mes_3.label }}</label>
                {{ form.mes_3 }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group ">
                <label>{{ form.ano_1.label }}</label>
                {{ form.ano_1 }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group ">
                <label>{{ form.ano_2.label }}</label>
                {{ form.ano_2 }}
            </div>
        </div>
    </div>

{% endblock %}

{% block form_buttons %}
    <div class="botones">
        <button type="submit" class="boton-salvar btn1">
            <i class="fas fa-save"></i> Salvar
        </button>

        <a type="button" href="{% url 'seccion:listarPeriodo' %}" class="cancelar boton-cancelar btn2">
            <i class="fas fa-arrow-circle-left"></i> Cancelar
        </a>
    </div>

{% endblock %}