{% extends 'comun/crear.html' %}
{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block id %} id=seccionForm{% endblock %}
{% block formulario %}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>{{ form.nombre.label }}</label>
                {{ form.nombre }}
            </div>
            <div class="callout callout-warning" id="textoAyudaNombre" hidden>
                  <h5><i class="fas fa-exclamation-triangle " ></i> Advertencia</h5>
                  <p class="text-justify">{{ form.nombre.help_text }}</p>
                </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>{{ form.guia_id.label }}</label>
                {{ form.guia_id }}
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>{{ form.orden.label }}</label>
                {{ form.orden }}
            </div>
            <div class="callout callout-warning" id="textoAyudaOrden" hidden>
                  <h5><i class="fas fa-exclamation-triangle "></i> Advertencia</h5>
                  <p class="text-justify">{{ form.orden.help_text }}</p>
                </div>

        </div>
        <div class="col-3">
            <div class="form-group">
                <label>{{ form.tipo.label }}</label>
                {{ form.tipo }}
            </div>
            <div class="callout callout-warning" id="textoAyudaTipo" hidden>
                  <h5><i class="fas fa-exclamation-triangle "></i> Advertencia</h5>
                  <p class="text-justify">{{ form.tipo.help_text }}</p>
                </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>{{ form.periodo_id.label }}</label>
                {{ form.periodo_id }}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>{{ form.numero.label }}</label>
                {{ form.numero }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>{{ form.subNumero.label }}</label>
                {{ form.subNumero }}
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            {{ form.activo }}
            <label for="seccionActiva" class="custom-control-label">{{ form.activo.label }}</label>
        </div>
    </div>
{% endblock %}

{% block form_buttons %}
    <div class="botones">
        <button type="submit" class="boton-salvar btn1">
            <i class="fas fa-save"></i> Salvar
        </button>

        <a type="button" href="{% url 'seccion:listarSeccion' %}" class="cancelar boton-cancelar btn2">
            <i class="fas fa-arrow-circle-left"></i> Cancelar
        </a>
    </div>

{% endblock %}
